<!-- meta tags from meta.html -->
<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type' />
<meta http-equiv='X-UA-Compatible' content='IE=edge' />
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />

{% if page.url == "/index.html" %}<link rel="canonical" href="{{ site.url }}" /><link rel="alternate" href="{{ site.url }}" hreflang="en-us" />{% else %}<link rel="canonical" href="{{ site.url }}{{ page.url }}" /><link rel="alternate" href="{{ site.url }}{{ page.url }}" hreflang="en-us" />{% endif %}

<meta name="author" content="Joseph Hendrix" />
<meta name="author" content="Beth Wirick" />
