<!DOCTYPE html>
<html lang="en-us">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>
		
		<title>{{ site.groom }} &amp; {{ site.bride }} - {{ page.title }}</title>
		
		<!--[if lt IE 9]>
		  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script>
		$(function(){
			var date = new Date("{{ site.date }}");
			var now = Date.now();
			
			//Get 1 day in milliseconds
  			var oneDay=1000*60*60*24;

		  	// Convert both dates to milliseconds
		  	var date_ms = date.getTime();
		  	var now_ms = now.getTime();

		  	// Calculate the difference in milliseconds
		  	var difference_ms = date_ms - now_ms;
    
  			// Convert back to days and return
  			var daysLeft = Math.round(difference_ms/oneDay); 
			
			$("#countdown").text(daysLeft + " days left!");
		});
		</script>
		
		<link rel="stylesheet" type="text/css" href="/style.css" />
		<!-- link href="/favicon.ico?" rel="shortcut icon" type="image/x-icon" / -->
	</head>
	<body>
		<header class="clearfix">

			<div class="site-info">
				<h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.groom }} &amp; {{ site.bride }}</a></h1>
			</div>

			<nav>
			{% for navlink in site.navlinks %}<a href="{{ navlink.url }}">{{ navlink.text }}</a>{% if forloop.last %}{% else %}|{% endif %}{% endfor %}
			</nav>
		</header>
		
	    <div id="main" role="main">
			<h2>{{ page.title }}</h2>
		
	  		{{ content }}
	    </div>
		
		<footer class="clearfix">
			{{ site.groom }} &amp; {{ site.bride }}
		</footer>
		
		<div id="countdown"></div>
	</body>
</html>
